
        <!-- Navigation-->
    <app-navbar></app-navbar>
      <!-- Masthead-->
      <header class="masthead bg-primary text-white text-center">
          <div class="container d-flex align-items-center flex-column">
              <!-- Masthead Avatar Image-->
              <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
              <!-- Masthead Heading-->
              <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
              <!-- Icon Divider-->
              <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
              </div>
              <!-- Masthead Subheading-->
              <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
          </div>
      </header>
      <!-- Portfolio Section-->
      <section class="page-section portfolio" id="portfolio">
          <div class="container">
              <!-- Portfolio Section Heading-->
              <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Grid Items-->
              <div class="row justify-content-center">
                <!-- Carousal starts -->
              <div class="col-md-12">


                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="assets/img/portfolio/angular.png" class="d-block w-100" alt="..." height="300" width="250">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/img/portfolio/Node-js.png" class="d-block w-100" alt="..." height="300" width="250">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/img/portfolio/MySQL.png" class="d-block w-100" alt="..." height="300" width="250">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/img/portfolio/laravel.png" class="d-block w-100" alt="..." height="300" width="250">
                    </div>
                    <div class="carousel-item">
                      <img src="assets/img/portfolio/PHP.png" class="d-block w-100" alt="..." height="300" width="250">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
                <!-- Carousal Ends -->
                  <!-- Portfolio Item 1-->
                  <!-- <div class="col-md-6 col-lg-4 mb-5">
                      <div class="portfolio-item mx-auto">
                          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/img/portfolio/angular.png" alt="..." />
                      </div>
                  </div> -->
                  <!-- Portfolio Item 2-->

                  <!-- Portfolio Item 3-->

                  <!-- Portfolio Item 4-->

                  <!-- Portfolio Item 5-->

                  <!-- Portfolio Item 6-->

              </div>
          </div>
      </section>
      <!-- About Section-->
      <section class="page-section bg-primary text-white mb-0" id="about">
          <div class="container">
              <!-- About Section Heading-->
              <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
              <!-- Icon Divider-->
              <div class="divider-custom divider-light">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
              </div>
              <!-- About Section Content-->
              <div class="row">
                  <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                  <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
              </div>
              <!-- About Section Button-->

          </div>
      </section>
      <!-- Contact Section-->

      <!-- Footer-->
<app-footer></app-footer>

