<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <a [routerLink]="['/add-edit-todo']" class="btn btn-lg btn-primary">Create New Todo </a>
      &nbsp;
      <button class="btn btn-lg btn-danger" (click)="deleteAllTodo()">Delete All Todo</button>
    </div>

  </div>
  <mat-progress-spinner *ngIf="!isLoading"> </mat-progress-spinner>
  <!-- *ngIf="all_todos.length > 0  => This does not work-->
  <cdk-accordion class="example-accordion" *ngIf="length > 0; else elseBlock; isLoading">
    <cdk-accordion-item
      *ngFor="let todo of all_todos; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ todo.todo_title }}

      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">

        {{ todo.todo_description }}

        <div class="img-todo">
          <img [src]="todo.todo_image" [alt]="todo.todo_title" height="100" width="100">
        </div>
        <div class="btn-todo">
           <button [class]="todo.todo_status == 1 ? 'btn btn-info' : 'btn btn-warning' " (click)="markAsDone(todo.todo_id)">

            <div *ngIf="todo.todo_status == 1; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>Mark as Done</ng-template>
            <ng-template #elseBlock>Mark as Undone</ng-template>
          </button>
        </div>
        <div class="btn-todo">
          &nbsp;
          <a [routerLink]="['/add-edit-todo',todo.todo_id]" class="btn btn-success">Edit</a>
          &nbsp;
          <button class="btn btn-danger" (click)="deleteTodo(todo.todo_id)">Delete</button>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
  <ng-template #elseBlock>
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>No Todo to Show</h3>
      </div>
    </div>

  </ng-template>
</div>

<app-footer></app-footer>
