<div class="user-not-authenticated" *ngIf="userIsAuthenticated == false">
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase " id="mainNav">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">My Angular Project</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="['/user/new-user']">Register</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="['/user/login']">Login</a></li>

            </ul>
        </div>
    </div>
  </nav>
</div>
<div class="user-authenticated" *ngIf="userIsAuthenticated == true">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']">Todo Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/dashboard']">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/todo']">Todo List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="onLogout()">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</div>

