<app-navbar></app-navbar>

<section class="h-100 gradient-form " style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">

            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="assets/lotus.webp" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>
                <div class="col-md-12" *ngIf="(response_from_server.response != 's1') &&  (response_from_server.response !='success')">
                  <div class="alert alert-danger">

                    {{ response_from_server.message }}
                  </div>
                </div>
                <form (submit)="loginUser(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
                  <p>Enter your details to login</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="username" name="username" class="form-control" placeholder="Phone number or Email Address" ngModel  #username='ngModel' required>
                    <label class="form-label" for="username">Username</label>
                    <div *ngIf="isSubmitted && isValid == false">
                      <span class="text-danger">User Name is required</span>
                    </div>
                  </div>



                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" ngModel #password='ngModel' required>
                    <label class="form-label" for="password">Password</label>
                    <div *ngIf="isSubmitted && isValid == false">
                      <span class="text-danger">Password is required</span>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
                    <br>
                    <a class="text-muted" href="javascript:void(0)">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger" [routerLink]="['/new-user']">Create new</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
