

  <!-- Footer -->
  <footer class="footer-bottom font-small  sticky-bottom border text-white lighten-3 pt-4 mt-5" style="background-color: #6351ce;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">ASISH BISHOI</h5>
          <p>Skills Used :- Angular, Node JS, PGSQL</p>
          <p></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Personal Details</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i>Odisha, India</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> <small>Can't show</small></p>
            </li>
            <li>
              <p>
                <i class="fas fa-phone mr-3"></i><small>Can't show</small></p>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Social Tags</h5>

          <a type="button" class="btn-floating" href="https://github.com/AsishAB" target="_blank">
            <i class="fab fa-github-square fa-2x"></i>
          </a>
          &nbsp;
          <a type="button" class="btn-floating" href="https://www.linkedin.com/in/asishbishoi24/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>



        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; {{ year }} Copyright:
      <a href="javascript:void(0)" class="text-white"> <img src="favicon.ico" alt="logo" height="50px" width="50px">A B</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer ends-->
